<div>
<div class="left">
    <%=@user.name%> さんへアクション <br/>
    <div class="action">
    <% like_you(@user).each do |user|%> 
    <%= user.name%>さんにLIKE💗されました<br/>
    <%end%> 

    <% message_you(current_user.id).each do |message|%> 
     From:<%=whose_message?(message)%>   ✉<%= message.text%><br/>
    <%end%> 
    </div>
    </div>


</div>