/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 span{
  height: 70px;
  background-color:lavender;
    width: 100vw;
    display: flex;
    align-items: center;
  justify-content: space-between;
}

.user__info li{
  margin:0 30px;
  list-style: none;
  
}
.link{
  text-decoration-line: none;
  padding: 10px;
  border: 2px solid ;
  background-color: white;
  font-family: 'Noto Sans JP', sans-serif;
}

.name{
  margin-left: 30px;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  align-items: center;

}
.grid-6 {
  height: 70px;
  background-color:lavender;
    width: 100vw;
    display: flex;
    align-items: center;
  justify-content: right;
  margin-right: 30px;

}

.grid-6 li{
  margin:0 30px;
  list-style: none;
  
}
