.balloon1{
  position: relative;
  display: inline-block;
  margin: 10px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  border-radius: 15px;
  font-size: 15px;
}

.profile{
  height: 100px;
  margin: 30px 0;
}

.message-site{
  width: 40vw;
margin-top: 30px;
}

.sendname{
margin-left:10px;
color: #555;
}

.message-box{
}

.messages{
  display: flex;
  justify-content: space-around;
  width: 100vw;

}

.message-form{
  width: 30vw;
}

main{
  font-family: 'Roboto', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;

}