 .title{
  display: flex;
  justify-content: center;
 }
 h1{
  font-family: 'Train One', cursive;
}

.member{
  display: flex;
  margin: 30px 32px;

}

.profile{
  width: 30vw;
  font-size: 15px;
  display: flex;
  font-family: 'Noto Sans JP', sans-serif;

  flex-direction: column;
  justify-content: center;

}

.info{
  display: flex;
  justify-content: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 15px;

}

.photo{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

h2{
  color:block;
}
.mypage{
  font-size: 20px;
  font-family: 'Noto Sans JP', sans-serif;

}

.mytitle{
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: center;
}

.page-heading{
  display: flex;
  justify-content: center;
}
.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 50%;
  margin-top:30px;

}

.table__col1{
  text-align: left;
  font-weight: bold;
  background: lightcyan;
  border-collapse: collapse;
  border: 1px solid grey;
  width: 30%;
  padding: 8px;
  text-align: center;
}

.table__col2{
  text-align: left;
  border: 1px solid grey;

  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}
.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.profile{
  display: flex;
  align-items: center;
  min-height: calc(100vh - 161px);
width:100vw;
}

/* ボタンのスタイル */
.buttonNeumorphism {
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  aspect-ratio: 1;
  color: #222;
  background-color: lightcyan;
  border-radius: 50%;
  box-shadow: -4px -4px 8px #fff, 4px 4px 8px rgb(0 0 0 / 24%);
}
.btnfield{
  width: 100vw;
  display: flex;
  justify-content: center;
}

.btn{
  font-size: 40px;
  text-decoration: none;
  color:gray ;

}


.star {
  animation-name: starAnime;/*1で解説*/
  animation-fill-mode:backwards;/*2で解説*/
  animation-duration:7s;/*3で解説*/
  animation-iteration-count:infinite;/*4で解説*/
  animation-timing-function:linear;/*5で解説*/
  animation-delay: 1s;/*6で解説*/
  animation-direction:normal;/*7で解説*/
  transform:translate(50px,50px);
  color: yellow;
  text-decoration: none;
  }
  
  /*1で解説*/
  @keyframes starAnime{
    0% {
      transform:translate(50px,50px);
    }
  
    100% {
      transform:translate(100px,100px);
    }
  }